{% extends 'base.html.twig' %}

{% block title %}Les chiffres du COVID-19 en France{% endblock %}

{% block body %}
    <div class="album py-5" id="france">
        <div class="container">
            <h1 class="mb-5">Les chiffres du COVID-19 en France</h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Nouveaux cas confirmés</h5>
                            <p class="card-text">J+1 date de résultats</p>
                        </div>
                        <h3 class="card-footer bg-info text-dark mx-2 rounded-pill">{{ data.0.conf_j1 }}</h3>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">Hospitalisation</h5>
                            <p class="card-text">Nombre de personne hospitalisées</p>
                        </div>
                        <h3 class="card-footer bg-warning text-dark mx-2 rounded-pill">{{ data.0.hosp }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Réanimations</h5>
                            <p class="card-text">personnes en réanimations</p>
                        </div>
                        <h3 class="card-footer bg-danger text-dark mx-2 rounded-pill">{{ data.0.rea }}</h3>
                    </div>
                </div>

                 <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Décés</h5>
                            <p class="card-text">hôpital et EMS</p>
                        </div>
                        <h3 class="card-footer bg-dark text-light mx-2 rounded-pill">{{ data.0.dc_tot}}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Incidence retour au domicile</h5>
                            <p class="card-text">au cours des dernières 24h.</p>
                        </div>
                        <h3 class="card-footer bg-success text-light mx-2 rounded-pill">{{ data.0.incid_rad }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Incidence hospitalière</h5>
                            <p class="card-text">au cours des dernières 24h</p>
                        </div>
                        <h3 class="card-footer bg-warning text-dark mx-2 rounded-pill">{{ data.0.incid_hosp }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Incidence réanimation</h5>
                            <p class="card-text">au cours des dernières 24h</p>
                        </div>
                        <h3 class="card-footer bg-danger text-dark mx-2 rounded-pill">{{ data.0.incid_rea }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Incidence décés à l'hopital</h5>
                            <p class="card-text">au cours des dernières 24h.</p>
                        </div>
                        <h3 class="card-footer bg-dark text-light mx-2 rounded-pill">{{ data.0.incid_dchosp }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Tension Hospitalière réa</h5>
                            <p class="card-text">réa rapportée au total des lits</p>
                        </div>
                        <h3 class="card-footer bg-danger text-dark mx-2 rounded-pill">{{ data.0.TO }}</h3>
                    </div>
                </div>

                <div class="col"></div>

                <div class="col"></div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Source des données :</h5>
                            <p class="card-text"><a href="https://github.com/florianzemma/CoronavirusAPI-France">Santé Publique France</a></p>
                        </div>
                        <h3 class="card-footer bg-secondary text-dark mx-2 rounded-pill">{{ data.0.date }}</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="album py-5" id="departements">
        <div class="container">
            <h1 class="mb-5">Les chiffres du COVID-19 par département</h1>

             <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for departement in departements %}
                    <div class="col">
                            <div class="card shadow-lg h-100 m-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ departement.lib_dep }}</h5>
                                    <p class="card-text">Actuellement hospitalisée <span class="badge bg-secondary">{{departement.hosp }}</span></p>
                                    <p class="card-text">Actuellement en réa <span class="badge bg-secondary">{{departement.rea }}</span></p>
                                    <a href=" {{ path('departement', {'departement' : departement.lib_dep} ) }}" class="btn btn-secondary" role="button" aria-pressed="true">Plus de chiffres</a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
